<widget-header titulo = 'AGENDA DE DESEMPENHO'></widget-header>

<div class="home fonteBranca">
  <center><span class="error" ng-show="vm.showError">{{vm.message}}</span></center>
	<form>

 
  		<div class="form-group">
    		<label for="email">Email</label>
    			<input type="email" class="form-control" id="email" placeholder="email" ng-model='vm.email'>
  		</div>
  
  		<div class="form-group">
    			<label for="senha">Senha</label>
    				<input type="password" class="form-control" id="senha" placeholder="senha" ng-model='vm.pass'>
  		</div>

      
      <button type="submit" class="btn btn-default corpoProdutos" ng-click="vm.logar()">logar</button>


      <div class="fonteBranca distanciaHorizontal">
      <center>
      <a  class="fonteBranca" ng-href="/solicitar">Não possui login? Faça seu cadastro.</a>
      </center>
      </div>
     

      <div class="fonteBranca distanciaHorizontal">
      <center>
      <a  class="fonteBranca " ng-href="/trocar">Esqueceu a senha?</a>
      </center>
      </div>
      

      <div class="fonteBranca distanciaHorizontal">
      <center>
      <a  class="fonteBranca" ng-href="/contribuir">Quer contribuir?</a>
      </center>
      </div>
     

    </div>
	</form>
</div>